###############################################################################
#
#   Configuration file .coveragerc for control of the behaviour of 
#   coverage.py / pytest-cov plugins.
#   See full doc here:
#       - https://coverage.readthedocs.io/en/latest/config.html
#       - https://pytest-cov.readthedocs.io/en/latest/index.html
#
#   Created:  Dmitrii Gusev, 30.01.2022
#   Modified: Dmitrii Gusev, 07.06.2022
#
###############################################################################

[run]
branch = True
data_file = .coverage/.coverage
omit =
        *__init__*
        *temp*
        *tests/*

[report]
show_missing = True
# -- show 2 decimal digits for coverage values
precision = 2

[html]
directory = .coverage/htmlcoverage
title = "Template Project: Tests Coverage Report"

[xml]
output = .coverage/coverage.xml

# -- used by coverage.py, ignored by pytest-cov
[json]
output = .coverage/coverage.json
pretty_print = True
