[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypackage = {editable = true, path = "."}

[dev-packages]
ipykernel = "*"
mock = "*"
nose2 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
responses = "*"
mypy = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
build = "*"
sphinx = "*"
twine = "*"
types-six = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
